.aside-body {
  background-color: rgb(230, 230, 230);
  width: 250px;
  padding: 16px 0;
  border-radius: 5px;
}
li {
  list-style: none;
}
.category-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}
.category-body ul li {
  margin: 3px;
}
.category-body-input {
  width: 50px;
  background-color: white;
  color: rgb(84, 84, 84);
  padding: 5px 5px;
  border: 1px solid rgb(137, 137, 137);
  border-radius: 4px;
  margin: 5px;
  height: 30px;
}
.category-body-button {
  background-color: #518fd8;
  color: #f1f1f1;
  cursor: pointer;
  border: none;
  height: 30px;
  margin: 5px;
  width: 50px;
  border-radius: 5px;
}
.category-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.price,
.category {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 40px;
  margin: 0 20px;
}
.category-name {
  margin-left: 10px;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 400;
}

.price-form {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
