.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-left: 32px;
  height: 100%;
}
.card a {
  color: black;
  text-decoration: none;
}
.card {
  width: 250px;
  height: 270px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}
.card-img {
  display: flex;
  justify-content: center;
}
.card-image {
  height: 150px;
  width: 150px;
  object-fit: contain;
}

.card-body {
  display: flex;
  flex-direction: column;
  padding: 7px;
  background: #fcfcfc;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 8px 8px;
}
.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}
.actions button {
  color: rgb(84, 84, 84);
  border: 1px solid rgb(226, 226, 226);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.139);
  padding: 3px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition-duration: 0.3s;
}
.actions button:hover {
  background: #fcfcfc;
}
.card-price {
  color: rgba(47, 47, 47, 0.803);
  font-size: 12px;
  font-weight: 600;
  font-style: italic;
}
.card-name {
  font-size: 12px;
}
/*  */

/* Background Styles */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 70vw;
  background: rgb(243, 243, 243);
}
/* Loader Shape */
.loader {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: linear-gradient(45deg, transparent, transparent 40%, #e5f403);
  animation: animate 2s linear infinite;
}
/* Loader Animation */
@keyframes animate {
  0% {
    transform: rotate(0deg);
    filter: hue-rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    filter: hue-rotate(360deg);
  }
}
/* Loader Pseudo Elements */
.loader:before {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background: rgb(245, 245, 245);
  border-radius: 50%;
  z-index: 999;
}
.loader:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: linear-gradient(45deg, transparent, transparent 40%, #e5f403);
  border-radius: 50%;
  z-index: 999;
  z-index: 1;
  filter: blur(20px);
}


@media screen and (max-width: 768px) {
  .container {
    min-width: 100vw;
  }
  .card-container {
    margin-left: 0;
  }
}
  