.product-product-container {
  margin-top: 50px;
  display: flex;
  gap: 23px;
  background: white;
  border-radius: 13px;
}
.product-product-container .product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
  padding: 8px;
}

.product-product-container .product-img .product-image {
  margin-top: 10px;
  width: 200px;
  height: 200px;
  object-fit: contain;

}

.product-product-container .product-info .product-name {
  font-size: 30px;
  color: black;
  text-decoration: underline;
}
.product-product-container .product-info .product-description {
  font-size: 15px;
  color: black;
}
.product-product-container .product-info .btn-section {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  gap: 10px;
  padding-right: 22px;
}
.product-product-container .product-info .btn-section .delete-btn {
  background-color: red;
  color: white;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}
.product-product-container .product-info .btn-section .edit-btn {
  background-color: #518fd8;
  color: white;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}
